---
- name: Install Docker
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes
  become: true

- name: Ensure Docker is started and enabled
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
  become: true

- name: Ensure /home/azureuser directory exists
  file:
    path: /home/azureuser
    state: directory
    owner: azureuser
    group: azureuser
    mode: '0755'

- name: Copy Dockerfile and web files
  ansible.built.copy:
    src: "{{ item }}"
    dest: "/home/azureuser/{{ item }}"
  loop:
    - Dockerfile
    - index.html

- name: Build custom Docker image
  community.docker.docker_image:
    name: custom-nginx
    source: build
    build:
      path: /home/azureuser

- name: Run custom Nginx container
  community.docker.docker_container:
    name: nginx
    image: custom-nginx
    state: started
    ports:
      - "80:80"