name: Lint Terraform and Ansible

on:
  push:
    branches:
      - '**'  # Trigger on all branches
  pull_request:
    branches:
      - main  # Trigger PRs targeting the main branch

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible and Ansible Lint
        run: |
          pip install ansible ansible-lint

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        working-directory: ./Terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./Terraform

      - name: Ansible Lint
        run: ansible-lint Ansible/deploy.yml

